:root {
  --base-white-coolor: rgb(255, 255, 255);
  --main-text-color: rgb(27, 28, 33);
  --text-color-services: rgb(126, 126, 130);
  --base-background-color: rgb(248, 248, 248);
  --hover-list-color: rgb(184, 255, 236);
  --transition-duration: 0.3s;
  --opacity: 0.8;
  --border-radius: 6px;
}

/*Шапка*/
.container-size {
  max-width: 1440px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  height: 88px;
  min-width: 320px;
  background-color: var(--base-white-coolor);
  align-items: center;
}

.header__title {
  display: none;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity var(--transition-duration);
}

.btn:hover {
  opacity: var(--opacity);
}

.btn-call {
  background-image: url('../img/ic_call.svg');
  display: none;
}
.btn-chat {
  background-image: url('../img/ic_chat.svg');
  display: none;
}
.btn-profile {
  background-image: url('../img/ic_profile.svg');
  display: none;
}
.btn-burger {
  background-image: url('../img/ic_burger.svg');
}
.btn-repair {
  background-image: url('../img/ic_repair.svg');
  margin-left: 16px;
}
.btn-checkstatus {
  background-image: url('../img/ic_checkstatus.svg');
}

.logo-link {
  transition: opacity var(--transition-duration);
}

.logo-link::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: rgb(234, 234, 234);
  top: 28px;
  margin-left: 16px;
  margin-right: 16px;
  cursor: default;
}

.logo-link:hover {
  opacity: var(--opacity);
}

/*Main*/
.main__wrapper {
  background-color: var(--base-background-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__title {
  margin: 24px 16px;
  margin-bottom: 0;
  font-size: 28px;
}

.main__title::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  background: rgb(65, 246, 215);
  left: 0;
  top: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.main__services {
  list-style: none;
  margin: 0;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

.main__services-item {
  color: var(--text-color-services);
  white-space: nowrap;
  padding: 8px 16px;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline var(--transition-duration), background-color var(--transition-duration),
    border-radius var(--transition-duration);
}

.main__services-item:hover {
  outline: 2px solid var(--hover-list-color);
  background-color: var(--base-white-coolor);
  border-radius: var(--border-radius);
}

.main__text {
  color: var(--main-text-color);
  margin-left: 16px;
  margin-bottom: 0;
  max-width: 490px;
}

.main__img {
  flex: 0 0 auto;
}

.text-open768 {
  display: none;
}

.text-open1120 {
  display: none;
}

.main__btnOpen {
  background-color: var(--base-background-color);
  border: none;
  font-family: TT Lakes;
  cursor: pointer;
  display: block;
}

.main__btnOpen:hover {
  opacity: var(--opacity);
  transition: var(--transition-duration);
}

.main__btnOpen-size {
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  position: relative;
  margin-bottom: 16px;
  padding-left: 30px;
}

.main__btnOpen-size::before {
  content: '';
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  display: block;
  width: 8px;
  height: 10px;
  position: absolute;
  right: 116px;
  top: 5px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .main__wrapper-textImg {
    display: flex;
    justify-content: space-between;
  }

  .btn-call {
    display: block;
  }
  .btn-chat {
    display: block;
  }
  .btn-profile {
    display: block;
  }

  .logo-link {
    margin-right: auto;
    margin-left: 42px;
  }

  .logo-link::after {
    display: none;
  }

  .logo-link::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: rgb(234, 234, 234);
    top: 28px;
    left: 85px;
    cursor: default;
  }

  .btn-burger {
    margin-left: 24px;
  }

  .btn-repair {
    margin: 0;
    position: relative;
  }

  .btn-checkstatus {
    margin-right: 24px;
    margin-left: 16px;
  }

  .btn-profile {
    margin-right: 42px;
    margin-left: 16px;
  }

  .btn-repair::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: rgb(234, 234, 234);
    cursor: default;
    left: -22px;
    top: 5px;
  }

  .btn-chat {
    margin-left: 16px;
  }

  .main__title {
    margin-top: 24px;
    margin-left: 24px;
  }

  .main__services {
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .main__text {
    width: 320px;
    height: 160px;
  }

  .text-open768 {
    display: inline-block;
    margin-left: 0;
    width: 400px;
  }

  .main__img {
    width: 360px;
  }

  .main__btnOpen-size {
    position: absolute;
    left: 0;
    bottom: 50px;
    margin-left: 10px;
  }
}

@media (min-width: 1120px) {
  .header__nav {
    background-color: var(--base-background-color);
  }

  .btn-burger {
    display: none;
  }

  .logo-link {
    display: none;
  }

  .btn-call,
  .btn-chat,
  .btn-profile {
    display: none;
  }

  .main__title {
    display: none;
  }

  .header__title {
    display: block;
    margin-top: 42px;
    margin-left: 32px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .header__nav {
    position: relative;
  }

  .header__title::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 40px;
    background: rgb(65, 246, 215);
    left: 0;
    top: 45px;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .btn-repair::before {
    display: none;
  }

  .btn-checkstatus {
    margin-right: 32px;
    position: relative;
    margin-top: 42px;
  }

  .btn-checkstatus::before {
    content: 'Статус ремонта';
    position: absolute;
    left: -130px;
    top: 10px;
  }

  .btn-repair {
    margin-right: 160px;
    position: relative;
    margin-top: 42px;
  }

  .btn-repair::after {
    content: 'Оставить заявку';
    position: absolute;
    left: -140px;
    top: 10px;
  }

  .main__services {
    padding-top: 8px;
  }

  .text-open320 {
    display: none;
  }

  .text-open768 {
    display: none;
  }

  .text-open1120 {
    display: inline-block;
    margin-left: 34px;
  }

  .main__btnOpen-size {
    bottom: 155px;
    left: 14px;
    margin-left: 20px;
  }

  .main__text {
    width: 490px;
  }

  .main__services {
    overflow: hidden;
    flex-wrap: wrap;
    padding-bottom: 8px;
  }

  .main__img1120 {
    width: 540px;
    height: 380px;
    margin-top: 10px;
  }
}

@media (min-width: 1440px) {
  .container-size {
    margin: 0 auto;
  }
}
