@font-face {
  font-family: 'TT Lakes';
  src: url('/fonts/TTLakes-Italic.eot');
  src: local('/fonts/TT Lakes Italic'), local('/fonts/TTLakes-Italic'),
    url('/fonts/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakes-Italic.woff') format('woff'), url('/fonts/TTLakes-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('/fonts/TTLakesCompressed-Regular.eot');
  src: local('/fonts/TT Lakes Compressed Regular'), local('/fonts/TTLakesCompressed-Regular'),
    url('/fonts/TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakesCompressed-Regular.woff') format('woff'),
    url('/fonts/TTLakesCompressed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('/fonts/TTLakesCondensed-Medium.eot');
  src: local('/fonts/TT Lakes Condensed Medium'), local('/fonts/TTLakesCondensed-Medium'),
    url('/fonts/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakesCondensed-Medium.woff') format('woff'),
    url('/fonts/TTLakesCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('/fonts/TTLakesCondensed-Bold.eot');
  src: local('/fonts/TT Lakes Condensed Bold'), local('/fonts/TTLakesCondensed-Bold'),
    url('/fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakesCondensed-Bold.woff') format('woff'), url('/fonts/TTLakesCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('/fonts/TTLakesCompressed-Medium.eot');
  src: local('/fonts/TT Lakes Compressed Medium'), local('/fonts/TTLakesCompressed-Medium'),
    url('/fonts/TTLakesCompressed-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakesCompressed-Medium.woff') format('woff'),
    url('/fonts/TTLakesCompressed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('/fonts/TTLakesCompressed-Italic.eot');
  src: local('/fonts/TT Lakes Compressed Italic'), local('/fonts/TTLakesCompressed-Italic'),
    url('/fonts/TTLakesCompressed-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakesCompressed-Italic.woff') format('woff'),
    url('/fonts/TTLakesCompressed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('/fonts/TTLakesCondensed-Regular.eot');
  src: local('/fonts/TT Lakes Condensed Regular'), local('/fonts/TTLakesCondensed-Regular'),
    url('/fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakesCondensed-Regular.woff') format('woff'),
    url('/fonts/TTLakesCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('/fonts/TTLakes-Bold.eot');
  src: local('/fonts/TT Lakes Bold'), local('/fonts/TTLakes-Bold'),
    url('/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/TTLakes-Bold.woff') format('woff'),
    url('/fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('/fonts/TTLakes-MediumItalic.eot');
  src: local('/fonts/TT Lakes Medium Italic'), local('/fonts/TTLakes-MediumItalic'),
    url('/fonts/TTLakes-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakes-MediumItalic.woff') format('woff'), url('/fonts/TTLakes-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('/fonts/TTLakes-Medium.eot');
  src: local('/fonts/TT Lakes Medium'), local('/fonts/TTLakes-Medium'),
    url('/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakes-Medium.woff') format('woff'), url('/fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('/fonts/TTLakes-Regular.eot');
  src: local('/fonts/TT Lakes Regular'), local('/fonts/TTLakes-Regular'),
    url('/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakes-Regular.woff') format('woff'), url('/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('/fonts/TTLakesCompressed-Bold.eot');
  src: local('/fonts/TT Lakes Compressed Bold'), local('/fonts/TTLakesCompressed-Bold'),
    url('/fonts/TTLakesCompressed-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TTLakesCompressed-Bold.woff') format('woff'),
    url('/fonts/TTLakesCompressed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
